.title-hero h1 {
  color: #14416f;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; }

h2 {
  color: #14416f;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 24px; }

h3 {
  font-size: 20px;
  color: #1175b8; }

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: black; }

footer {
  background-color: #14416f;
  text-align: center;
  color: whitesmoke;
  font-weight: 100;
  font-size: 10px;
  padding: 10px; }

.main-container {
  width: 100%;
  height: 100vh;
  background-color: white; }

.left-menu {
  background-color: whitesmoke;
  position: relative;
  width: 4.5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all .3s ease; }

.left-menu:hover {
  width: 13rem; }

.left-menu ul li a {
  display: flex; }

.logo {
  width: 80px;
  position: relative;
  top: 1rem;
  margin-bottom: 2rem;
  left: 0.5rem;
  display: flex;
  margin: 10px 0 0 0px;
  justify-content: center;
  align-items: center; }

.logo img {
  width: 40px;
  z-index: 100;
  position: absolute; }

.logo span {
  font-weight: bold;
  padding: 10px;
  font-size: 18px;
  text-transform: uppercase;
  display: contents; }

.logo a {
  position: relative;
  left: 100px;
  color: #14416f;
  font-size: 18px;
  display: table;
  text-align: left;
  width: 300px;
  text-decoration: none;
  padding: 10px; }

.left-menu ul {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

ul li {
  display: flex;
  list-style: none;
  margin-bottom: 1rem;
  margin-top: 1rem;
  align-items: center;
  transition: all .3s linear; }

ul li a {
  text-decoration: none;
  color: #14416f;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all .3s linear;
  margin-right: 1.2rem; }

.sidebar-item i {
  width: 20px;
  height: 20px;
  text-align: center; }

#settings {
  position: absolute;
  bottom: 1rem; }

.left-menu ul li:hover {
  transform: translateX(0.4rem);
  transition: all .4s linear; }

.left-menu ul li:hover .fa-solid, .left-menu ul li:hover a {
  font-weight: bold;
  color: #12b2e6; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main {
  display: flex;
  font-family: 'Montserrat', sans-serif; }

.alert {
  display: flex;
  margin-left: 15%; }
  .alert i {
    font-size: 30px;
    color: red; }
  .alert p {
    padding-left: 10px; }

.content {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 20%;
  margin-right: 8%;
  top: 15%;
  text-align: center; }
  .content .title-hero {
    margin-left: -10%; }
  .content .text-hero {
    padding: 15px;
    padding-top: 5%;
    text-align: justify; }

div.conect ul {
  display: flex;
  flex-direction: row;
  margin-left: 20%;
  align-items: center; }
  div.conect ul a {
    padding: 0px 30px;
    text-decoration: none;
    list-style: none; }
  div.conect ul img {
    width: 50px; }
  div.conect ul i {
    font-size: 50px;
    color: #73d773; }
