* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
   display: flex;
   font-family:'Montserrat', sans-serif;
   height: auto;
   width: 100%;
}

.alert {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    i{
        font-size: 30px;
        color: red;
    }
   
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    text-align: center;
    height: auto;
    width: 100%;
    overflow: hidden;
    .text-hero {
        padding: 5%;
        text-align: justify;
        align-items: center;
        justify-content: center;
        text-align: justify;
    }
    p {
        width: 100%;
        word-wrap: break-word;
    }
}





