* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
   display: flex;
   font-family:'Montserrat', sans-serif;;
}

.alert {
    display: flex;
    margin-left: 15%;
    i{
        font-size: 30px;
        color: red;
    }
    p {
        padding-left: 10px;
    }
}
