
.content {
    display: flex;
    flex-direction: column;
    margin: 5%;
    top: 10%;
    text-align: center;
    height: auto;
    width: 100%;
    .text-hero {
        padding-top: 5%;
        text-align: justify;
        align-items: center;
        justify-content: center;
        text-align: justify;
    }
}

div.conect ul {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    a {
        padding-right: 30px;
        text-decoration: none;
        list-style: none;
    }
    img {
        width: 50px;
    }  
    i {
        font-size: 50px;
        color: rgb(115, 215, 115);
    }

}