
.content {
    display: flex;
    flex-direction: column;
    position:absolute;
    margin-left: 20%;
    margin-right: 5%;
    top: 5%;
    text-align: center;
    .title-hero {
        margin-left: -10%;
    }
    .text-hero {
        padding: 12px;
        padding-top: 5%;
        text-align: left;
    }
}

div.conect ul {
    display:flex;
    flex-direction: row;
    a {
        padding: 20px;
        text-decoration: none;
        list-style: none;
    }
    
    img {
        width: 50px;
    }  
}