
.content {
    display: flex;
    flex-direction: column;
    position:absolute;
    margin-left: 20%;
    margin-right: 8%;
    top: 15%;
    text-align: center;
    .title-hero {
        margin-left: -10%;
    }
    .text-hero {
        padding: 15px;
        padding-top: 5%;
        text-align: justify;
    }
}

div.conect ul {
    display:flex;
    flex-direction: row;
    margin-left: 20%;
    align-items: center;
    a {
        padding: 0px 30px;
        text-decoration: none;
        list-style: none;
    }
    img {
        width: 50px;
    }  
    i {
        font-size: 50px;
        color: rgb(115, 215, 115);
    }

}